//  全局基本色
$base-color: #1E90FF;

$base-success-color: #67C23A;

$base-warning-color: #E6A23C;

$base-danger-color: #F56C6C;

$base-color-light: #43BDCC;

$base-gray-color: #cccccc;

$base-gray-color-1: #dddddd;

$base-font-color: #004b79;

$gray-color: #686868;

$gray-color-light: #67676767;

//  全局基准font-size
$base-font-size: 14px;

//  最小高度
$minHeight: calc(100vh - 13em);

//  链接颜色
$link-color: #E6A23C;

// 进度条颜色
$progress-color: #67C23A
