@import "./base.scss";

/*聊天页弹层*/
.chat-info-modal{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #eeeeee;
  opacity: 0;
  z-index: 99999;
}
.chat-info{
  height: 100%;
  width: 4rem;
  position: absolute;
  top: 0.98rem;;;
  right: 0;
  z-index: 9999;
  background: #eeeeee;
  border: 1px solid rgba(77,77,77,.6);
  opacity: 0.97;
  z-index: 999999;
}
.svg-icon {
  cursor: pointer;
  height: 0.7rem;
  width: 0.7rem;
}


