@import "./base.scss";
*,
*:after,
*:before {
  // max-height: 100000px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -ms-touch-action: none;
   -webkit-touch-callout: none;
   user-select: none;
   text-size-adjust: none;
}

body,
html {
  background-color: #F5F6F8;
  width: 100%;
  height: 100%;
  font-family: 'Microsoft Yahei' !important;
  overflow: hidden;
}
#app {
  height: 100%;
}
/*苹果输入框输入不了*/
input{
  -webkit-user-select:text !important
}
textarea{
  -webkit-user-select:text !important
}

.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  overflow: hidden;
}
.icon-logo{
  width: 2em;
  height: 2em;
  fill: currentColor;
  overflow: hidden;
}
.system-name{
  font-size: 0.32rem;
  font-weight: bold;
  color: $base-color;
  background-image:-webkit-linear-gradient(bottom,red,#fd8403,yellow);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.content-busuanzi{
  position: fixed;
  text-align: center;
  bottom: 0.2rem;
}
.after-content{
  font-size: 0.12rem;
  color: #cccccc;
}

/*基础布局样式*/
.wrapper {
  height: 100%;
  min-width: 100%;
  width: 100%;
  position: relative;
  .chat-wrapper{
    height: calc(100vh - 2rem) !important;
    width: 100%;
    position: relative;
  }
  .chat-wrapper-spe{
    height: calc(100vh - 2rem) !important;
    width: 100%;
    position: relative;
  }
  .chat-wrapper-contract-list{
    height: calc(100vh - 3.9rem);
    width: 100%;
    position: relative;
  }
  .chat-wrapper-no-footer{
    height: calc(100vh - 1rem);
    width: 100%;
    position: relative;
  }
  .chat-wrapper-emoji{
    height: calc(100vh - 5.6rem) !important;
  }
  .secret-box{
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow-y: auto;
  }
  .secret-box-spe{
    height: 100%;
    // padding: 0px 0px 20px 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow-y: auto;
  }

  ul {
    padding-bottom: 0.1rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow-y: auto;

    li {
      list-style-type: none;
    }
  }
  .input-msg {
    height: 1rem;
    margin-top: 0.1rem;
    position: fixed;
    bottom: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 999;
    border-top: 0.5px solid $base-gray-color;
    border-bottom: 0.5px solid $base-gray-color;
    background: $base-gray-color;
    .input-box{
      width: 70%;
      height: 100%;
      display: flex;
      textarea {
        width: 100%;
        margin: 0.1rem 0;
        border-radius: 0.04rem;
        padding: 0.08rem 0.12rem;
        outline: none;
        resize: none;
        border: none;
        overflow-y: hidden;
        font: 0.3rem 'Microsoft Yahei';
      }
    }
       p.btn {
      font-size:0.22rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 79.8%;
      width: 20%;
      background: #ccc;
      color: white;
      border-radius: 0.04rem;
      cursor: not-allowed;
      font-family: 'Microsoft Yahei';

      &.enable {
        background: #1E90FF;
        cursor: pointer;
      }
    }
  }

  .input-msg-select{
    bottom: 3.5rem !important;
  }
}

.flex-style{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*不可用*/
.disabled{
  pointer-events: none;
}

/*按钮样式*/
.box-button-group{
  margin: 0.1rem;
  display: flex;
  .join-group-spe{
    position: relative;
    margin: 0.04rem 0;
  }
}
.button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.24rem;
  width: 50%;
  border-radius: 0.4rem;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.button-spe {
  font-size: 0.24rem;
  width: 50%;
  border-radius: 0.4rem;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.base-button{
  background-color: $base-success-color;
  color: white;
  margin: 0.1rem;
  padding: 0.16rem 0;

}

.warning-button{
  background-color: $base-warning-color;
  color: white;
  margin: 0.1rem;
  padding: 0.14rem 0;
}
.join-group{
  bottom: 0.1rem;
}


/*action 按钮*/
.action-box{
  margin: 0.4rem 0;
}
.action-box-spe{
  margin: 0.6rem 0;
}

.action {
  text-align: center;
  display: flex;
  justify-content: center;
  span {
    display: inline-block;
    font-size: 0.24rem;
    // line-height: 0.26rem;
    padding: 0.2rem 0;
    width: 50%;
    border-radius: 0.4rem;
    cursor: pointer;
    margin: 0.2rem;
  }
  .whole-span{
    width: 100%;
    line-height: inherit;
  }
  .warning-span {
    background-color: $base-warning-color;
    color: #fff;
  }
  .primary-span {
    background-color: $base-color;
    color: #fff;
  }
}

/*空页面布局*/
.no-content{
  color: $base-color;
  height: 3.6rem;
  text-align: center;
  margin-top: calc(50vh - 3.6rem);
  .icon{
    font-size: 2rem;
  }
}
.no-content-spe{
  color: $base-color;
  height: 3.6rem;
  text-align: center;
  margin-top: calc(50vh - 3.6rem);
  .icon{
    font-size: 2rem;
  }
}

/*重写meassage box*/
.el-message-box{
  font-size: 0.18rem;
  width: 70%;
  .el-message-box__header{
    padding: 0.16rem 0.01rem 0.2rem;
    span{
      font-size: 0.24rem;
    }
  }
  .el-message-box__content p{
    font-size: 0.22rem;
    color: rgba(0, 0, 0, 0.808);
    margin-bottom: 0.18rem;
    line-height: 0.42rem;
  }
  .el-button--primary{
    padding: 0 0.7rem;
    line-height: 0.7rem;
    height: 0.7rem;
    span{
      font-size: 0.22rem;
    }
  }
}


/*emoji*/
.emoji-mart{
  font-size: 0.24rem !important;
}
.emoji-mart-emoji span{
  width: 0.5rem !important;
  height: 0.5rem !important;
}
.emoji-mart-preview{
  height: 0.8rem !important;
  display: none;
}
.emoji-mart .emoji-mart-emoji{
  padding: 0.06rem !important;
}
.emoji-mart-category-label span{
  padding: 0 !important;
}
.emoji-mart-anchors svg{
  max-height: 1rem !important;
  width: 0.4rem !important;
  height: 0.4rem !important;
}
.emoji-mart-search{
  margin-top: 0.1rem !important;
  padding: 0 0.1rem !important;
  display: none;
}
.emoji-mart-search input{
  padding: 0.1rem 0.2rem !important;
  font-size: 0.32rem !important;
}
.emoji-select{
  width: 100% !important;
  position: fixed;
  height: 3.5rem !important;
  bottom: 0;
}
.emoji-mart-anchor-selected .emoji-mart-anchor-bar{
  height: 0.04rem !important;
}
